.a-home
{
    text-decoration: none;
    color: white;
}


h3
{
    font-family: 'Poppins';
    font-size: 3.2rem;
    
}

.a-home:hover
{
    text-decoration: none;
    color: white;
}


.btn-success:hover
{
    background-color: pink !important;
    border: none;
}

a
{
    color: black;
}

a:hover
{
    color: black;
}