@import './css/bootstrap.css';
@import './css/login.css';
@import './css/home.css';

#body-index,
#body-login
{
    background: #E0FFF8;
}

p
{
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: black;
}

.a-index
{
    text-decoration: none;
    color: white;
}

.a-index:hover
{
    text-decoration: none;
    color: white;
}

section
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}